<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G4 Mini</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
</head>
<body>
    <ul>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="/clientes">Clientes</a></li>
        <li><a href="/orcamentos">Orçamentos</a></li>
        <li><a href="/vendas">Vendas</a></li>
    </ul>

    <p>Bem vindo ao G4 Mini 🚀</p>
    
</body>
</html>